.modal {
  width: 480px;
  height: 459px;
  border-radius: 12px;
  background: #c2f5ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &_leaderboard {
    height: 100vh;
  }
}
  
.modal_height {
    height: 634px;
  }

.image {
  width: 96px;
  height: 96px;
  margin-bottom: 8px;
}

.title {
  color: #004980;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  margin-bottom: 28px;
}

.user {
  width: 276px;
  height: 45px;
  border: none;
  border-radius: 10px;

  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}

.inputContainer {
  position: relative;
  width: 276px;
  margin: 15px 0;
  display: flex;
  align-items: center
}

@supports (-webkit-touch-callout: none) {
  .modal {
    -webkit-overflow-scrolling: touch;
  }
}

.user:focus {
  outline: none;
  border-color: #7ACB22;
}

.user::placeholder {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}

.description {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;

  margin-bottom: 10px;
}

.time {
  color: #000;
  font-family: StratosSkyeng;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;

  margin-bottom: 40px;
}

.submitButton {
  background: #c2f5ff;
    outline: none;
    border: none;
}

.exit {
  cursor: pointer;
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url('/public/arrow-right-direction-green-icon.svg');
  background-repeat: no-repeat;
}

@media(max-width: 720px) {
  .modal {
    width: calc(100% - 20px);
    height: fit-content;
  }
  .title {
    font-size: 28px;
  }
  .user {
    width: 200px;
  }
}