.container {
  width: 944px;
  margin: 0 auto;
  padding: 26px;
  padding-top: 22px;
  box-sizing: border-box;
}

.modal {
  width: 480px;
  height: 459px;
  border-radius: 12px;
  background: #c2f5ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 35px;
}

.title {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.leaders {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.leader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 16px 20px;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: #fff;
}

.leader_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 16px 20px;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: #fff;
}

.position {
  width: 178px;

  font-family: Poppins;
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;

  text-align: left;

  color: #000;
}

.position_header {
  width: 178px;

  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;

  line-height: 32px;

  text-align: left;

  color: #999;
}

.user {
  display: flex;

  width: 324px;

  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;

  line-height: 32px;

  text-align: left;

  color: #000;
}

.user_header {
  width: 324px;

  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 400;

  line-height: 32px;

  text-align: left;

  color: #999;
}

.time {
  width: 102px;

  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;

  line-height: 32px;

  text-align: left;

  color: #000;
}

.time_header {
  width: 102px;

  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 400;

  line-height: 32px;

  text-align: left;

  color: #999;
}

.achievePowerActive,
.achievePowerInactive,
.achieveDifficultyActive,
.achieveDifficultyInactive {
  position: relative;
  width: 32px;
  height: 32px;
}

.achievePowerActive {
  background-image: url("/public/super-power-not.svg");
}

.achievePowerInactive {
  background-image: url("/public/super-power-not_shadow.svg");
}

.achieveDifficultyActive {
  background-image: url("/public/hard-mode.svg");
}

.achieveDifficultyActive {
  background-image: url("/public/hard-mode.svg");
}

.achieveDifficultyInactive {
  background-image: url("/public/hard-mode_shadow.svg");
}

[data-diff]::after {
  content: attr(data-tooltip);

  display: block;

  position: absolute;

  width: 212px;
  height: 87px;

  background: url("/public/modalHardMode.svg");
  opacity: 0;
}

[data-diff]:hover::after {
  bottom: 30px;
  opacity: 1;
}

[data-power]::after {
  content: attr(data-tooltip);

  display: block;

  position: absolute;

  width: 174px;
  height: 87px;

  background: url("/public/modalSuperPower.svg");
  opacity: 0;
}

[data-power]:hover::after {
  bottom: 30px;
  opacity: 1;
}
