.container {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  padding: 26px;
  padding-top: 22px;
  box-sizing: border-box;
}

.modal {
  width: 100%;
  max-width: 480px;
  height: auto;
  min-height: 459px;
  border-radius: 12px;
  background: #c2f5ff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px auto;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 35px;
}

.title {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.leaders {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.leader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 16px 20px;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: #fff;
}

.leader_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 16px 20px;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: #fff;
}

.position {
  width: 178px;

  font-family: Poppins;
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;

  text-align: left;

  color: #000;
}

.position_header {
  width: 178px;

  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;

  line-height: 32px;

  text-align: left;

  color: #999;
}

.user {
  display: flex;

  width: 324px;

  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;

  line-height: 32px;

  text-align: left;

  color: #000;
}

.user_header {
  width: 324px;

  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 400;

  line-height: 32px;

  text-align: left;

  color: #999;
}

.time {
  width: 102px;

  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;

  line-height: 32px;

  text-align: left;

  color: #000;
}

.time_header {
  width: 102px;

  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 400;

  line-height: 32px;

  text-align: left;

  color: #999;
}

.achievePowerActive,
.achievePowerInactive,
.achieveDifficultyActive,
.achieveDifficultyInactive {
  position: relative;
  width: 32px;
  height: 32px;
}

.achievePowerActive {
  background-image: url("/public/super-power-not.svg");
}

.achievePowerInactive {
  background-image: url("/public/super-power-not_shadow.svg");
}

.achieveDifficultyActive {
  background-image: url("/public/hard-mode.svg");
}

.achieveDifficultyActive {
  background-image: url("/public/hard-mode.svg");
}

.achieveDifficultyInactive {
  background-image: url("/public/hard-mode_shadow.svg");
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  content: "";
  display: block;
  position: absolute;
  width: 212px;
  height: 87px;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

[data-tooltip="hard"]::after {
  background-image: url("/public/modalHardMode.svg");
}

[data-tooltip="easy"]::after {
  background-image: url("/public/modalEasyMode.svg");
}

[data-tooltip="withPower"]::after {
  background-image: url("/public/modalWithSuperPower.svg");
}

[data-tooltip="withoutPower"]::after {
  background-image: url("/public/modalSuperPower.svg");
}

[data-tooltip]:hover::after {
  opacity: 1;
}

@media (max-width: 720px) {
  .container{
    padding: 8px;
    padding-top: 22px;
  }
  .leader_header, .position, .position_header, .user, .user_header, .time, .time_header {
    font-size: 12px;
    line-height: normal;
  }
}
